WSL_INSTANCE_NAME=ubuntu-for-llm-rag-agent-example
WSL_INSTANCE_PATH=C:\wsl\instance\ubuntu-for-llm-rag-agent-example
WSL_GID=9999
WSL_GROUP_NAME=develop_group_name
WSL_UID=9999
WSL_USER_NAME=develop_user_name
WSL_USER_PASSWORD=develop_user_password

DISTRO_IMAGE_URL=https://cloud-images.ubuntu.com/wsl/releases/noble/current/ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz
DISTRO_IMAGE_PATH=C:\wsl\images\ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz

YQ_DOWNLOAD_URL=https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64

GIT_USER_NAME=your_name
GIT_USER_EMAIL=your_email@example.com
GIT_REPO_URL=https://github.com/d-saitou/llm-rag-agent-example.git
GIT_REPO_NAME=llm-rag-agent-example
GIT_REPO_BRANCH=HEAD

BACKEND_PYTHON_VERSION=3.12-slim-bookworm

DB_PGVECTOR_VERSION=0.8.2-pg17-trixie
DB_POSTGRES_USER_PASSWORD=postgres_user_password
DB_APP_TX_USER_PASSWORD=app_tx_user_password
DB_APP_RAG_USER_PASSWORD=app_rag_user_password
DB_REDMINE_USER_PASSWORD=redmine_user_password

REDMINE_VERSION=6-alpine
