WSL_INSTANCE_NAME=ubuntu-for-llm-rag-agent-example
WSL_INSTANCE_PATH=C:\wsl\instance\ubuntu-for-llm-rag-agent-example
WSL_USER_NAME=develop_user_name
WSL_USER_PASSWORD=develop_user_password

DISTRO_IMAGE_URL=https://cloud-images.ubuntu.com/wsl/releases/noble/current/ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz
DISTRO_IMAGE_PATH=C:\wsl\images\ubuntu-noble-wsl-amd64-24.04lts.rootfs.tar.gz

GIT_USER_NAME=your_name
GIT_USER_EMAIL=your_email@example.com
GIT_REPO_URL=https://github.com/d-saitou/llm-rag-agent-example.git
GIT_REPO_NAME=llm-rag-agent-example
GIT_REPO_BRANCH=HEAD
